.thankyou-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* sbackground-color: #ffffff; */
}

.thankyou-box {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  max-width: 500px;
}

.checkmark {
  font-size: 60px;
  color: white;
  background-color: #28a745;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto 20px;
  font-weight: bold;
}

h1 {
  font-size: 28px;
  color: #222;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.home-link {
  text-decoration: none;
  color: #f72585;
  font-weight: 600;
  font-size: 16px;
}
.home-link :hover{
    border-bottom: 1px solid brown;
}